/*=====================================================================
 *
 * Filename: buttons.css
 *
 * Description
 * -----------
 * Buttons
 *
 *=====================================================================*/

    .btn {
        background: #000;
        border: 0;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: inherit;
        line-height: 2.2rem;
        min-height: 2.2rem;
        padding: 0.2rem 0.6rem;
        text-decoration: none;
        vertical-align: top;
    }